<%- layout("/layouts/boilerplate") -%>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0" rel="stylesheet">

  <!-- FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <style>
    #toast {
      transition: opacity 0.5s ease-in-out;
    }

    .hidden {
      opacity: 0;
      pointer-events: none;
    }
  </style>

  <div id="toast" class="fixed hidden right-3 top-3 mb-4 bg-gray-800 text-white py-2 px-4 rounded-lg shadow-lg z-50">
    <p class="font-semibold">Saved!</p>
  </div>



  <!-- Our Header section Starts from here -->
  <div class="main">
    <div class="container">
      <div class="col-9">
        <div class="search-container">
          <div class="search-box">
            <input type="text" class="search-input" placeholder="Search">
            <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </div>
        <div class="welcome">

        </div>

        <!-- Code for viewing the Post -->
        <% for(post of posts) { %>
          <div class="card">
            <a href="/users/<%= post.creater._id %>/profile">
              <div class="top">
                <!-- User Details -->
                <div class="userDetails">
                  <div class="profilepic">
                    <div class="profile_img">
                      <div class="image">
                        <!-- user profile pic -->
                        <img src="<%= post.creater.profile_image.url %>" alt="" />
                      </div>
                    </div>
                  </div>
                  <h3>
                    <%= post.creater.username %>
                  </h3>
                </div>
              </div>
            </a>
            <div class="box">
              <img src="<%= post.image.url %>" alt="post-1" class="cover" />
            </div>
            <div class="bottom">
              <a href="#">
                <p class="message">
                  <b>
                    <%= post.content %>
                  </b>
                </p>
              </a>
              <div class="actionBtns">
                <div class="left">
                  <% if(String(post.creater._id)==String(currUser._id)) { %>

                    <a href="/posts/<%= post._id %>"><button class="button-50" id="<%= post._id %>" role="button">
                        See post detail
                      </button></a>

                    <% } else { // %>
                      <% // if user already interested then button %>
                        <% if(post.interested_user.includes(String(currUser._id))) { %>
                          <button class="button-50" id="<%= post._id %>" role="button" disabled>
                            Done
                          </button>
                          <% } else { // %>
                            <button class="button-50" id="<%= post._id %>" role="button"
                              onclick="buttonClicked('<%= post._id %>')">
                              Interest...?
                            </button>
                            <% } %>
                              <% } %>
                </div>
                <div class="simg">
                  <button style="background-color: white; border: 0px; border-radius: 0px;" id="saved" onclick="saved('hi<%= post._id %>')"><i
                      class="fa-regular fa-bookmark" id='hi<%= post._id %>'></i></button>
                </div>

              </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
  </div>






  <script>

function saved(postId) {
    let icon = document.getElementById(postId);
    console.log(icon)

    // Toggle the classes of the icon
    if (icon.classList.contains('fa-regular')) {
      // If the icon is currently regular, change it to solid
      icon.classList.remove('fa-regular');
      icon.classList.add('fa-solid');
    } else {
      // If the icon is currently solid, change it to regular
      icon.classList.remove('fa-solid');
      icon.classList.add('fa-regular');
    }

    // Show toast notification
    document.getElementById("toast").classList.remove('hidden');

    // Hide toast notification after 3 seconds
    setTimeout(function () {
      document.getElementById("toast").classList.add('hidden');
    }, 3000);
  }

    const sender_id = "<%= currUser._id %>";
    let socket = io("/user-namespace", {
      auth: {
        token: sender_id,
      },
    });

    function buttonClicked(postId) {
      let myButton = document.getElementById(postId);

      // Change the button text to 'Done'
      myButton.innerHTML = "Done";

      // Make the button unclickable
      myButton.disabled = true;

      // Optionally, you can remove the onclick attribute to prevent further clicks
      myButton.removeAttribute("onclick");

      // send request to the server to show interest
      // Make an AJAX request to the server
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/posts/interested", true);
      xhr.setRequestHeader(
        "Content-Type",
        "application/x-www-form-urlencoded"
      );

      // Set up the data to send to the server
      const data = `postId=${postId}`;

      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            const response = JSON.parse(xhr.responseText);
            // if (response.success) {
            //     alert(response.message);
            // } else {
            //     alert(response.message);
            // }
          } else {
            alert("Error occurred while making the request");
          }
        }
      };

      // Send the request with the data
      xhr.send(data);
    }
  </script>